a.topright{
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 20px;
}

input[type=submit]{
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    margin-top: 20px;

}

input[type=text]{
    width: 35%;
    border-radius: 25px;
}

#imgid{
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}